* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}


main {
    font-family: "Google Sans Flex";

    width: 100vw;
    height: 100vh;

    color: white;
    background-color: black;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition:
        background-color 1.6s ease-in-out,
        color 2s ease-in-out;
}

main::before {
    content: "";

    position: absolute;

    width: 200vmax;
    height: 200vmax;

    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0.25) 20%,
        rgba(255, 255, 255, 0.12) 45%,
        rgba(255, 255, 255, 0.04) 70%,
        rgba(255, 255, 255, 0) 100%
    );

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.3);

    z-index: 0;

    opacity: 0;

    transition: transform 1.4s ease-in-out,
                opacity 0.5s ease-in-out;
}

main.lightON::before {
    animation: lightOn 1s ease-in-out forwards;
}

@keyframes lightOn {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    30% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.3;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

main > * {
    position: relative;
    z-index: 1;
}

#main.lightON {
    color: black;
    background-color: white;
}

#main.lightON label {
    color: black;
    font-weight: 600;
    transition: 0.8s;
}

.tittle {
    margin: 20px;
}

.tittle h1{
    margin-bottom: 25px;
    font-size: 90px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button button{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    color: white;
    background-color: #222;
    border: 3px solid #555;
    cursor: pointer;
    transition: 0.1s;
}

.button button:hover {
    border-color: white;
}

#onButton.active {
    background-color: green;
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

#offButton.active {
    background-color: red;
    border-color: #ff5555;
    box-shadow: 0 0 10px #ff5555;
}

#onButton,
#offButton {
    background-color: #222;
}

.button label {
    color: white;
    transition: 0.8s;
}